@font-face {
    font-family: GlacialIndifference;
    src: url(../fonts/GlacialIndifference-Regular.otf);
}

.navbar {
  font-family: GlacialIndifference;
  z-index: 9999;
}

.navbar-nav {
  text-shadow: 0 0 20px black;
}

.carousel-inner {
  margin-top: -73px;
  height: 600px;
}

.agro {
	background-image: url("../img/carousel/corn.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.marine {
	background-image: url("../img/carousel/fish.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.footer {
  min-height: 250px;
}
